body {
  font-family: "Montserrat";
}

#title {
  background: linear-gradient(to right, #ff1b6b, #45caff);
  color: white;
}

#title a {
  color: white;
}

.container-fluid {
  padding: 3% 15%;
  background: linear-gradient(to bottom right, #ff1b6b, #45caff);
  padding: right 45%;
}

h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

#tindog {
  padding-left: 3em;
  font-size: 50px;
}

.field {
  margin-bottom: 10px;
}

.field label {
  display: block;
  font-size: x-large;
  color: white;
  text-align: center;
  font-family: "Montserrat";
}

.field input {
  display: block;
  border: none;
  padding: 2px;
  padding-left: 6px;
  min-width: 250px;
  line-height: 2;
  font-size: 18px;
  background-color: transparent;
  border-radius: 15px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.field input::placeholder{
  color: white;
  opacity: 60%;
}
textarea:focus, input:focus{
  outline: none;
}
input[type="submit"] {
  display: block;
  padding: 6px 30px;
  font-size: 14px;
  background-color: #45caff;
  color: #fff;
  border: none;
  margin-top: 6em;
}

.formulaire {
  display: flex;
  justify-content: center;
  margin: auto;
}

form {
  margin-top: 3em;
  box-shadow:  rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  padding: 4em;
  border-radius: 5px;
}



